body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

h1, p {
  margin: 0;
  padding: 0; }

.home {
  width: 100%;
  height: 100vh;
  background-color: #F2F0F1; }

.work {
  width: 80%;
  max-width: 1000px;
  margin-bottom: 100px;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .work .large-box {
    width: 100%; }
  .work .medium-box {
    width: 65%;
    float: left; }
  .work .small-box {
    width: 50%;
    clear: both; }
  .work .xs-box {
    width: 50%; }
    .work .xs-box img {
      width: 65%; }
  .work .is-right {
    float: right; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

@media only screen and (max-width: 760px) {
  .work {
    width: 100%; }

  .small-box {
    float: left !important;
    clear: none !important; }

  .xs-box img {
    width: 100% !important; }

  .is-right {
    float: left !important; }

  .medium-box {
    width: 100% !important; } }
@media only screen and (max-width: 460px) {
  .small-box, .xs-box {
    width: 100% !important; } }
