@import "bourbon"

body
  padding: 0
  margin: 0
  font-family: sans-serif

*
  box-sizing: border-box
  +transition

h1, p
  margin: 0
  padding: 0

.home
  width: 100%
  height: 100vh
  background-color: #F2F0F1

.work
  width: 80%
  max-width: 1000px
  margin-bottom: 100px
  position: absolute
  top: 80%
  left: 50%
  transform: translateX(-50%)

  .large-box
    width: 100%

  .medium-box
    width: 65%
    float: left

  .small-box
    width: 50%
    clear: both

  .xs-box
    width: 50%

    img
      width: 65%

  .is-right
    float: right

img
  width: 100%
  max-width: 100%
  display: block


@media only screen and (max-width: 760px)
  .work
    width: 100%

  .small-box
    float: left !important
    clear: none !important

  .xs-box
    img
      width: 100% !important

  .is-right
    float: left !important

  .medium-box
    width: 100% !important

@media only screen and (max-width: 460px)
  .small-box, .xs-box
    width: 100% !important


// Styles for About Page Start Here
header
  width: 100%
  height: 50px
  background: #F2F0F1

.about
  width: 100%
  background: #F2F0F1

  .about-container
    width: 80%
    max-width: 1000px
    margin: 0 auto
    position: relative
    height: 400px
    margin-bottom: 200px

    p
      width: 70%
      color: black
      font:
        size: 30px
        weight: bold
      letter-spacing: -1px
      line-height: 1.2

      position: absolute
      top: 50%
      transform: translateY(-50%)
      z-index: 2

    span
      color: #aaa

    .about-img
      width: 40%
      min-width: 300px
      position: absolute
      right: 15px

      img
        width: 100%
        max-width: 100%

.profile
  width: 100%
  overflow: auto

  .profile-container
    width: 80%
    max-width: 1000px
    margin: 0 auto
    overflow: auto

    .profile-inner
      width: 60%
      float: right


@media only screen and (max-width: 768px)
  .about
    .about-container
      width: 90% !important
      margin-bottom: 100px !important
      p
        font-size: 26px !important

@media only screen and (max-width: 460px)
  .about-container
    height: auto !important
    overflow: auto !important
    margin-bottom: 50px !important

    .about-img
      min-width: 100% !important
      position: static !important
      margin: 40px 0 !important
    p
      width: auto !important
      font-size: 22px !important
      transform: translateY(0) !important
      position: static !important
      margin-top: 20px !important

  .profile-container
    width: 90% !important
    .profile-inner
      width: 100% !important

@media only screen and (max-width: 320px)
  .about
    .about-container
      p
        font-size: 20px !important
